@model Blog

<div class="container">
    <form method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" asp-for="Title"></label>
            <input type="text" class="form-control" asp-for="Title">
            <span class=" text text-danger" asp-validation-for="Title"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" asp-for="Description"></label>
            <input type="text" class="form-control" asp-for="Description">
            <span class=" text text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" asp-for="Explanation"></label>
            <input type="text" class="form-control" asp-for="Explanation">
            <span class=" text text-danger" asp-validation-for="Explanation"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" asp-for="File"></label>
            <input type="file" accept="image/*" class="form-control" asp-for="File">
            <span class=" text text-danger" asp-validation-for="File"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
       
   



