<link rel="stylesheet" href="~/Css/store.css">  <!-- my store section start -->
<div class="bg-blue">
    <div class="nav container d-flex">
        <h1 class="unique-text">My Store</h1>
        <p class="gray w-400">
            There are many variations of passages of Lorem Ipsum available, have
            suffered alteration in some form.
        </p>
    </div>
</div>
<!-- my store section end -->
<!-- search section start -->
<div class="search-section">
    <div class="container d-flex">
        <div class="search-container">
            <form class="search-form" action="">
                <input class="search-bar " type="text" placeholder="Search.." name="search">
                <button class="btn btn-bg-blue" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<!-- search section end -->
<!-- author`s books start -->
<div class="books-section">
    <div class="container d-flex all-books">

        <!-- 1 -->
        <div class="d-flex blue books-sec-cont">

            <div class="books-images bg-light-blue">
                <img class="books-small"
                     src="../assets/img/Book-sm-audio-atomic.png"
                     alt="The dark light book cover" />
            </div>
            <div class="books-text-container d-flex">
                <div class="d-flex space-between">
                    <h3 class="blue">Atomic One`s</h3>
                    <h3 class="yellow">$23.89</h3>
                </div>
                <p class="gray">
                    Many variations of passages of Lorem Ipsum willing araise
                    alteration in some form.
                </p>
                <h4 class="bulleted">Printed Books</h4>
                <button class="btn-no-bg btn-small">Order Today</button>
            </div>
        </div>
        <!-- 2 -->
        <div class="d-flex blue books-sec-cont">
            <div class="books-images bg-light-blue">
                <img class="books-small"
                     src="../assets/img/Book-sm-audio-atomic.png"
                     alt="The dark light book cover" />
            </div>
            <div class="books-text-container d-flex">
                <div class="d-flex space-between">
                    <h3 class="blue">Atomic One`s</h3>
                    <h3 class="yellow">$23.89</h3>
                </div>
                <p class="gray">
                    Many variations of passages of Lorem Ipsum willing araise
                    alteration in some form.
                </p>
                <h4 class="bulleted">Printed Books</h4>
                <button class="btn-no-bg btn-small">Order Today</button>
            </div>
        </div>
        <!-- 3 -->
        <div class="d-flex blue books-sec-cont">
            <div class="books-images bg-light-blue">
                <img class="books-small"
                     src="../assets/img/Book-sm-disc-atomic.png"
                     alt="The dark light book cover" />
            </div>
            <div class="books-text-container d-flex">
                <div class="d-flex space-between">
                    <h3 class="blue">Atomic One`s</h3>
                    <h3 class="yellow">$23.89</h3>
                </div>
                <p class="gray">
                    Many variations of passages of Lorem Ipsum willing araise
                    alteration in some form.
                </p>
                <h4 class="bulleted">Printed Books</h4>
                <button class="btn-no-bg btn-small">Order Today</button>
            </div>
        </div>
        <!-- 4 -->
        <div class="d-flex blue books-sec-cont">
            <div class="books-images bg-light-blue">
                <img class="books-small"
                     src="../assets/img/Book-sm-disc-light.png"
                     alt="The dark light book cover" />
            </div>
            <div class="books-text-container d-flex">
                <div class="d-flex space-between">
                    <h3 class="blue">The Dark Light</h3>
                    <h3 class="yellow">$23.89</h3>
                </div>
                <p class="gray">
                    Many variations of passages of Lorem Ipsum willing araise
                    alteration in some form.
                </p>
                <h4 class="bulleted">Printed Books</h4>
                <button class="btn-no-bg btn-small">Order Today</button>
            </div>
        </div>
        <!-- 5 -->
        <div class="d-flex blue books-sec-cont">
            <div class="books-images bg-light-blue">
                <img class="books-small"
                     src="../assets/img/Book-sm-audio-light.png"
                     alt="The dark light book cover" />
            </div>
            <div class="books-text-container d-flex">
                <div class="d-flex space-between">
                    <h3 class="blue">The Dark Light</h3>
                    <h3 class="yellow">$23.89</h3>
                </div>
                <p class="gray">
                    Many variations of passages of Lorem Ipsum willing araise
                    alteration in some form.
                </p>
                <h4 class="bulleted">Printed Books</h4>
                <button class="btn-no-bg btn-small">Order Today</button>
            </div>
        </div>
        <!-- 6 -->
        <div class="d-flex blue books-sec-cont">
            <div class="books-images bg-light-blue">
                <img class="books-small"
                     src="../assets/img/Book-sm-disc-light.png"
                     alt="The dark light book cover" />
            </div>
            <div class="books-text-container d-flex">
                <div class="d-flex space-between">
                    <h3 class="blue">The Dark Light</h3>
                    <h3 class="yellow">$23.89</h3>
                </div>
                <p class="gray">
                    Many variations of passages of Lorem Ipsum willing araise
                    alteration in some form.
                </p>
                <h4 class="bulleted">Printed Books</h4>
                <button class="btn-no-bg btn-small">Order Today</button>
            </div>
        </div>
    </div>
</div>
<!-- author`s books end -->
<!-- read free chapter start -->
<div>
    <div class="container bg-orange blue d-flex align-center">
        <div class="chapter-container">
            <h2 class="read-free">Read a free Chapter</h2>
            <h4 class="free-chapter">
                Making this the first true value generator on the Internet. It of
                over 200 Latin words, combined with a handful.
            </h4>
        </div>
        <form action="" class="d-flex form">
            <input class="input-email"
                   type="email"
                   placeholder="Your Email id..." />
            <button class="btn-bg-blue" type="submit">Subscribe</button>
        </form>
    </div>
</div>
<!--read  free chapters end -->