<link rel="stylesheet" href="~/Css/blog.css">   <!-- Articles txt section start -->
<div class="bg-blue">
    <div class="nav container d-flex">
        <h1 class="unique-text">Articles</h1>
        <p class="gray w-400">
            There are many variations of passages of Lorem Ipsum available, have
            suffered alteration in some form.
        </p>
    </div>
</div>
<!-- Articles txt section end -->
<!-- aricles start -->
<div class="bg-light-blue articles blue">
    <div class="container d-flex align-center articles-container">
        <div class="article-img-container d-flex">
            <!-- start of cards -->
            <!-- 1 -->
            <div class="article-card d-flex">
                <img src="../assets/img/Photo1.png" alt="girl reading book" />
                <div class="article-text-container">
                    <h4>Significant reading has more info number</h4>
                    <h5 class="gray">
                        The point of using Lorem Ipsum hiter of that using making it
                        look like others readable will get end.
                    </h5>
                    <div class="d-flex space-between align-center article-card-details">
                        <h6><a class="blue" href="#">Read more</a></h6>
                        <h6>Author - 23.05.2022</h6>
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <div class="article-card d-flex">
                <img src="../assets/img/Photo2.png" alt="book cover" />
                <div class="article-text-container">
                    <h4>Release of Letraset sheets tools containing passages</h4>
                    <h5 class="gray">
                        The point of using Lorem Ipsum hiter of that using making it
                        look like others readable will get end.
                    </h5>
                    <div class="d-flex space-between align-center article-card-details">
                        <h6><a class="blue" href="#">Read more</a></h6>
                        <h6>Author - 23.05.2022</h6>
                    </div>
                </div>
            </div>
            <div class="article-card d-flex">
                <img src="../assets/img/Photo3.png" alt="girl reading book" />
                <div class="article-text-container">
                    <h4>The energy efficiency offers hydrotherapy or swim</h4>
                    <h5 class="gray">
                        The point of using Lorem Ipsum hiter of that using making it
                        look like others readable will get end.
                    </h5>
                    <div class="d-flex space-between align-center article-card-details">
                        <h6><a class="blue" href="#">Read more</a></h6>
                        <h6>Author - 23.05.2022</h6>
                    </div>
                </div>
            </div>
            <!-- 4 -->
            <div class="article-card d-flex">
                <img src="../assets/img/article4.png" alt="book shelves" />
                <div class="article-text-container">
                    <h4>The energy efficiency offers hydrotherapy or swim</h4>
                    <h5 class="gray">
                        The point of using Lorem Ipsum hiter of that using making it
                        look like others readable will get end.
                    </h5>
                    <div class="d-flex space-between align-center article-card-details">
                        <h6><a class="blue" href="#">Read more</a></h6>
                        <h6>Author - 23.05.2022</h6>
                    </div>
                </div>
            </div>
            <!-- 5 -->
            <div class="article-card d-flex">
                <img src="../assets/img/article5.png" alt="book love skip jump" />
                <div class="article-text-container">
                    <h4>Release of Letraset sheets tools containing passages</h4>
                    <h5 class="gray">
                        The point of using Lorem Ipsum hiter of that using making it
                        look like others readable will get end.
                    </h5>
                    <div class="d-flex space-between align-center article-card-details">
                        <h6><a class="blue" href="#">Read more</a></h6>
                        <h6>Author - 23.05.2022</h6>
                    </div>
                </div>
            </div>
            <!-- 6 -->
            <div class="article-card d-flex">
                <img src="../assets/img/article6.png" alt="girl reading book" />
                <div class="article-text-container">
                    <h4>The energy efficiency offers hydrotherapy or swim</h4>
                    <h5 class="gray">
                        The point of using Lorem Ipsum hiter of that using making it
                        look like others readable will get end.
                    </h5>
                    <div class="d-flex space-between align-center article-card-details">
                        <h6><a class="blue" href="#">Read more</a></h6>
                        <h6>Author - 23.05.2022</h6>
                    </div>
                </div>
            </div>
            <!-- 7 -->
            <div class="article-card d-flex">
                <img src="../assets/img/Photo2.png" alt="thinking fast book cover" />
                <div class="article-text-container">
                    <h4>The energy efficiency offers hydrotherapy or swim</h4>
                    <h5 class="gray">
                        The point of using Lorem Ipsum hiter of that using making it
                        look like others readable will get end.
                    </h5>
                    <div class="d-flex space-between align-center article-card-details">
                        <h6><a class="blue" href="#">Read more</a></h6>
                        <h6>Author - 23.05.2022</h6>
                    </div>
                </div>
            </div>
            <!-- 8 -->
            <div class="article-card d-flex">
                <img src="../assets/img/article8.png" alt="planner and candle image" />
                <div class="article-text-container">
                    <h4>Release of Letraset sheets tools containing passages</h4>
                    <h5 class="gray">
                        The point of using Lorem Ipsum hiter of that using making it
                        look like others readable will get end.
                    </h5>
                    <div class="d-flex space-between align-center article-card-details">
                        <h6><a class="blue" href="#">Read more</a></h6>
                        <h6>Author - 23.05.2022</h6>
                    </div>
                </div>
            </div>
            <!-- 9 -->
            <div class="article-card d-flex">
                <img src="../assets/img/article9.png"
                     alt="girl reading book and a dog" />
                <div class="article-text-container">
                    <h4>The energy efficiency offers hydrotherapy or swim</h4>
                    <h5 class="gray">
                        The point of using Lorem Ipsum hiter of that using making it
                        look like others readable will get end.
                    </h5>
                    <div class="d-flex space-between align-center article-card-details">
                        <h6><a class="blue" href="#">Read more</a></h6>
                        <h6>Author - 23.05.2022</h6>
                    </div>
                </div>
            </div>
            <!-- end of cards -->
        </div>
    </div>
</div>
<!-- articles end -->
